:root {
    --link-hover-color: #3e6ffe;
    --button-border-color: #aaa;
    --card-title-background-color: #efefef;
    --svg-hover-background-color: #eaeaea;
}

html,
body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    height: 100%;
    font-family: sans-serif;
    touch-action: pan-x pan-y; /* Allows scrolling but disables pinch-zoom */
}

.nav-group {
    position: absolute;
    overflow: hidden;
    top: 0.75em;
    left: 1em;
    /*border: 1.5px solid #354255;*/
    /*border-radius: 4px;*/
    /*transition: border-color .2s;*/
    background: #fff;
    border: 2px solid black;
    border-radius: 3px;
}

.nav-group:hover {
    border-color: black;
}

.nav-group .link {
    /*background: white;*/
    position: relative;
    display: block;
    float: left;
    padding: 6px 1em;
    text-decoration: none;
    color: black;
    overflow: visible;
    transition: color .2s;
    line-height: 1.2;
}

.nav-group .link:hover {
    color: #1d5bb8;
}

.nav-group .link::after {
    content: "";
    display: block;
    background: black;
    width: 1px;
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: 0;
    z-index: 9;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.nav-group .link:last-child::after {
    display: none;
}

.nav-group .link span {
    margin-left: 6px;
}

@media screen and (max-width: 767px) {
    .nav-group {
        font-size: .75em;
        border-width: 1px;
    }

    .nav-group .link::after {
        width: 1px;
    }
}

svg {
    /*outline: 1px solid red;*/
    /*width: 100vw;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    /*min-width: 320px;*/
    /*min-height: 320px;*/
    user-select: none;
}

svg text {
    font-family: sans-serif;
    transition: color .3s;
}

svg text.place {
    font-family: Calibri, "HG丸ｺﾞｼｯｸM-PRO", "ヒラギノ丸ゴ ProN", ui-rounded, sans-serif;
}

svg text.place-label:hover {
    stroke: var(--link-hover-color);
}

svg path {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    /* cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; */
}

svg text.place,
svg path[id] {
    cursor: pointer;
}

svg path[id] {
    transition: fill .3s;
}

.form {
    background: #fff;
    border: 1px solid var(--button-border-color);
    border-radius: 12px;
    max-width: 300px;
    position: fixed;
    top: 100;
    overflow: hidden;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: none;
    user-select: none;
}

.form.show {
    opacity: 1;
    z-index: 99;
}

.form .title {
    display: flex;
    background: var(--card-title-background-color);
    padding: 0.25em 0.5em 0.25em 0.5em;
    line-height: 1;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.form.rtl .title > span {
    direction: rtl;
    flex-grow: 1;
}
.form.rtl .title > span label {
    margin-left: 6px;
}

[lang="en"] .form .title {
    padding-right: 70px;
}

.form .title .lang {
    font-weight: 600;
    margin-left: 2px;
}

.form .links {
    position: absolute;
    top: 2em;
    left: 0.5em;
    right: 0.5em;
    /* bottom: 0.5em; */
    /* overflow-y: scroll; */
    background: white;
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
    box-shadow: 2px 4px 6px #c0c0c0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5em;
    display: none;
}
.form.has-external label[for=externLinks] {
    margin-right: 2px;
    color: #3f81ec;
    cursor: pointer;
}

.form .links::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    top: -4px;
    left: 0.65em;
    border: 0px solid var(--button-border-color);
    border-width: 1px 0 0 1px;
}

input.hidden-box {
    display: none;
}
input.hidden-box + div {
    display: none;
}
.inputs input.hidden-box:checked + div,
.form.has-external input.hidden-box:checked + div {
    display: block;
}
.inputs input.hidden-box:checked ~ label[for] {
    color: var(--link-hover-color);
}

.form .links a {
    display: block;
    padding: 4px 0;
}

.form .title .icon-group {
    margin-left: 6px;
    white-space: nowrap;
    display: inherit;
}

.form .title .icon-group .icon {
    line-height: 1;
    padding: 3px;
    color: #bbb;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s;
}

.form .title .icon-group .icon.search:hover {
    color: var(--link-hover-color);
}

.form .title .icon-group .icon.close:hover {
    color: #666;
}

.form .label {
    font-weight: normal;
    padding: 4px 1em;
    cursor: pointer;
    display: block;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    border-bottom: 1px solid var(--card-title-background-color);
}
.form .label:last-child {
    border-bottom: none;
}

.form .label:hover,
.form .label.selected {
    background: var(--svg-hover-background-color);
}

svg path[id]:hover {
    fill: var(--svg-hover-background-color);
}

.form .label.red:hover,
.form .label.red.selected {
    background: #e84c3d;
}

svg path[id][levelcolor=red]:hover {
    fill: #f1776c;
}

.form .label.orange:hover,
.form .label.orange.selected {
    background: #d58337;
}

svg path[id][levelcolor=orange]:hover {
    fill: #e79d58;
}

.form .label.green:hover,
.form .label.green.selected {
    background: #30cc70;
}

svg path[id][levelcolor=green]:hover {
    fill: #47e287;
}

.form .label.yellow:hover,
.form .label.yellow.selected {
    background: #f3c218;
}

svg path[id][levelcolor=yellow]:hover {
    fill: #f9d247;
}

.form .label.blue:hover,
.form .label.blue.selected {
    background: #3598db;
}

svg path[id][levelcolor=blue]:hover {
    fill: #50b5f8;
}

.top-right {
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
    user-select: none;
}

.bottom-right {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: right;
    user-select: none;
}

.inputs input[type=text],
.inputs .btn {
    background: #fff;
    border: 1px solid var(--button-border-color);
    border-radius: 12px;
    padding: 0px 10px;
    margin: 6px 0 0;
    color: black;
    text-decoration: none;
    vertical-align: bottom;
    line-height: 27px;
    font-size: 0.75em;
    display: inline-block;
}

.inputs input[type=checkbox] {
    vertical-align: center;
}

.inputs .btn {
    cursor: pointer;
}

.inputs select {
    height: 29px;
}
